<div>
  Square root of 2: {{ squareRootOfTwo }}

</div>

<div>
  <ul>
    <li>{{name}}</li>
    <li>{{surName}}</li>
  </ul>

  <div>
    {{arr[0]}}
    {{arr[1]}}
    {{arr[2]}}
  </div>

  <div>
   {{user.name}}
   {{user.surn}}
  </div>
  <div>
    {{showName()}}
  </div>

  <div #userName>
    kikok
  </div>
  <div>
    {{ userName.textContent }}
  </div>

  <textarea>{{ text }}</textarea>
  <textarea placeholder={{text}}></textarea>
  <textarea [value]="text"></textarea>

  <div *ngIf="isAdmin">I am admin</div>
  <div *ngIf="num === 1">Show if number is equal to 1</div>

  <div *ngIf="age === 18">You are adult </div>

  @if (isAdmin) {
    <div>Yesss, you are admin</div>
  }

  @if (num === 1) {
    <div>Number is one</div>
  }

  @if (isAdmin) {
    <div>You are admin</div>
  } @else {
    <div>You are usual user</div>
  }

  @if ( day >= 1 && day <= 10) {
    <div>First decada</div>
  } @else if (day > 10 && day <= 20) {
    <div>Second decada</div>
  } @else {
    <div>Third decada</div>
  }
</div>

<div>
  @switch (str)  {
    @case ("a") {
      <p>aaaaa</p>
    }
    @case ("b") {
      <p>bbbb</p>
    }
    @case ("c") {
      <p>ccccc</p>
    }
    @default {
      <p>error</p>
    }
  }
</div>

<ng-template [ngIf]="isAdmin">
	<div>
		text1
	</div>
	<div>
		text2
	</div>
</ng-template>

<p>{{ isAdmin }}</p>

<ul>
  <li *ngFor="let el of arr; let i = index; let first = first let last = last">
    square: {{makeSqrt(el)}}
    index: {{i}}
    {{first ? "FIRST" : "mmmmm"}}
    {{last ? "LAST" : "ooooo"}}
  </li>
</ul>

<ul>
@for (elem of arr; track $index; ) {
	<li>
		elem: {{ elem }}
    index: {{$index + 1}}
    {{$first ? "FIRST" : "kkkkk"}}
    {{$last ? "LAST" : "yyyyyy"}}
  </li>
}
</ul>
