<div>
  Square root of 2: {{ squareRootOfTwo }}

</div>

<div>
  <ul>
    <li>{{name}}</li>
    <li>{{surName}}</li>
  </ul>

  <div>
    {{arr[0]}}
    {{arr[1]}}
    {{arr[2]}}
  </div>

  <div>
   {{user.name}}
   {{user.surn}}
  </div>
  <div>
    {{showName()}}
  </div>

  <div #userName>
    kikok
  </div>
  <div>
    {{ userName.textContent }}
  </div>

  <textarea>{{ text }}</textarea>
  <textarea placeholder={{text}}></textarea>
  <textarea [value]="text"></textarea>

  <div *ngIf="isAdmin">I am admin</div>
  <div *ngIf="num === 1">Show if number is equal to 1</div>

  <div *ngIf="age === 18">You are adult </div>

  @if (isAdmin) {
    <div>Yesss, you are admin</div>
  }

  @if (num === 1) {
    <div>Number is one</div>
  }

  @if (isAdmin) {
    <div>You are admin</div>
  } @else {
    <div>You are usual user</div>
  }

</div>
